#Removed for custom origin
#plugin
#custom
spell
ftplugin
coc-settings.json
.luarc.json
lazy-lock.json
**/.DS_Store
connections.json
ws/*

.*.swp
tags
target
/grep/Cargo.lock
/globset/Cargo.lock
/ignore/Cargo.lock
/termcolor/Cargo.lock
/wincolor/Cargo.lock
/deployment
/.idea

# Snapcraft files
stage
prime
parts
*.snap
*.pyc
ripgrep*_source.tar.bz2

# Cargo timings
cargo-timing-*.html
cargo-timing.html
